DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres?schema=public"

NODE_ENV=development # or production

APP_FRONT_URL_DEV="http://localhost:5173"

PORT=3000

LOCALE_DATE_TIME=pt-BR

JWT_SECRET="goK!pusp6ThEdURUtRenOwUhAsWUCLheBazl!uJLPlS8EbreWLdrupIwabRAsiBu"

# 1. Getting `TELEGRAM_BOT_HTTP_TOKEN`
#    - Find BotFather in Telegram to create new bots
#    - Start a conversation with BotFather typing: `/newbot`
#    - Create a name and username for your new bot
#    - Save the `TELEGRAM_BOT_HTTP_TOKEN` BotFather will answer to you
#    - BotFather will also give you the link to start conversation with your new bot: `t.me/YOUR_BOT_NAME`

# 2. Getting `TELEGRAM_BOT_CHANNEL_ID`
#    - Send a aleatory message to your new bot you created previously
#    - Access: `https://api.telegram.org/bot<YOUR_TELEGRAM_BOT_HTTP_TOKEN_HERE>/getUpdates`
#    - Copy and save: `chat.id` -> its a number
TELEGRAM_BOT_HTTP_TOKEN=123
TELEGRAM_BOT_CHANNEL_ID=123

ENABLE_DATABASE_DEBUG=true # false

ENABLE_TELEGRAM_LOGS=false # false
